
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kubernetes-bootcamp
spec:
  replicas: 1
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    spec:
      containers:
      - image: docker.io/andrewdarley/basic:webserver-1
        imagePullPolicy: IfNotPresent
        name: nginx 
        resources: {}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File

