apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base/
namespace: app-dev


patches:
- patch: |-
    - op: replace
      path: /spec/template/spec/containers/0/image
      value: docker.io/andrewdarley/basic:fluxtest
  target:
    kind: Deployment
    name: kubernetes-bootcamp